* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#start-screen, label, div {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #cfdfff;
    min-height: 100%;
}

/* .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  } */

#start-screen {
    border:solid red;
    height: 100vh;
}

/* #parent {
    position: absolute;
    width: 70%;
    height:400px;
}

.children {
    display: inline-block;
    position:relative;
    width: 33%; 
    height: 400px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    padding: 5px 5px;
    transition: all .07s ease;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 100px;
} */

p {
    color: white;
    outline-color: black;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    position: absolute;
    display: block;
    transform: translateY(-30%);
    top: 30%;
    left:10%;
    right:10%;
    text-align: center;
    font-size: 140px;
    /* border:solid black; */
}

#start-button {
    border-radius:25%;
    background-color: rgb(231, 231, 231);
    width: 250px;
    height:100px;
    /* position: absolute;
    left:50%;
    right:50%;
    
    transform: translateY(-70%);
    top: 70%; */

    position:absolute;
    left: 50%;
    margin-left: -125px;
    top: 70%;
    text-align: center;
    font-size: 40px;
}

/* Create a css property that hides all members of children class*/