*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#start-screen, label, div {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden; 
    height: 100vh;
    width: 100vw;
    background-color: #cfdfff;
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#start-screen, #game, #round-result, #end-screen {
    position:absolute;

}

#title {
    
}

#start-button, #restart-button {
    border-radius:25%;
    background-color: rgb(231, 231, 231);
    width: 250px;
    height:100px;
    justify-content: center;
    text-align: center;
    transform: translateY(-70%);;
    position:absolute;
    left: 50%;
    right:50%;
    margin-left: -125px;
    top: 90%;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 140px;
}

p:not(.score-labels) {
    color: white;
    outline-color: black;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#game {
    height: 100vh;
    width: 100vw;
}

#game, #round-result, #end-screen {
    height: 100vh;
    width: 100vw;
}

#prompt {
    position: relative;
    font-size: 100px;
    top:25%;
    text-align: center;
}

#game-inputs-container {
    position: relative;
    top:30%;
    left: 25%;
}

#game {
    visibility: hidden;
}

#round-result, #end-screen {
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    visibility: hidden;
}

.score-container {
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.score-labels {
    flex-grow: 1; 
    position: inline;
}

#player-score {
    text-align: left;
}

#computer-score {
    text-align: right;
}

#player-score, #computer-score {
    font-size:80px;
    color: blueviolet;
}

#rock, #scissors, #paper {
    width: 300px;
}